{% extends 'fimswaat/staff_layout.html'%}

{% block body %}
<div class="main_index">
    <div class="signup_title"><h1>Change Password</h1></div>
    <div class="Signup_form">
    <div class="form_continer">
        <form action="{% url 'manager_settings_view'%}" method="post">
            {% csrf_token %}
            {{ChangePassword.as_p}}
            <div class="center_submit"><input type="submit" value="submit" id="myButton"></div>
        </form>
    </div>


    {% if password_do_not_match %}
        <div class="wrong_login"> password did not match try again </div>
    {% endif %}
    {% if error %}
        <div class="wrong_login">Invalid data </div>
    {% endif %}

</div>
</div>
{% endblock %}